.animate {
  animation-duration: 1s;
  animation-fill-mode: both;
  &.pulse {
    animation-name: pulse;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  &.backOutLeft {
    animation-duration: 2s;
    animation-name: backOutLeft;
  }
  &.rubberBand {
    animation-name: rubberBand;
  }
  &.headShake {
    animation-timing-function: ease-in-out;
    animation-name: headShake;
  }
  &.zoomOut {
    animation-name: zoomOut;
  }
  &.once {
    animation-iteration-count: 1 !important;
  }
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes backOutLeft {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  20% {
    transform: translateX(0) scale(0.7);
    opacity: 0.7;
  }

  90% {
    transform: translateX(-2000px) scale(0.7);
    opacity: 0.7;
  }

  100% {
    transform: scale(0);
    margin: 0 auto;
  }
}
@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes headShake {
  0% {
    transform: translateX(0);
  }

  6.5% {
    transform: translateX(-6px) rotateY(-9deg);
  }

  18.5% {
    transform: translateX(5px) rotateY(7deg);
  }

  31.5% {
    transform: translateX(-3px) rotateY(-5deg);
  }

  43.5% {
    transform: translateX(2px) rotateY(3deg);
  }

  50% {
    transform: translateX(0);
  }
}
@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}
