.animate {
  animation-duration: 1s;
  animation-fill-mode: both;
  &.pulse {
    animation-name: pulse;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  &.backOutLeft {
    animation-duration: 2s;
    animation-name: backOutLeft;
  }
  &.bounceOutRight {
    animation-name: bounceOutRight;
  }
  &.rubberBand {
    animation-name: rubberBand;
  }
  &.headShake {
    animation-timing-function: ease-in-out;
    animation-name: headShake;
  }
  &.zoomIn {
    animation-name: zoomIn;
  }
  &.zoomOut {
    animation-name: zoomOut;
    animation-duration: 0.5s;
  }
  &.jello {
    animation-name: jello;
    transform-origin: center;
  }
  &.backInRight {
    animation-name: backInRight;
  }
  &.bounceInRight {
    animation-name: bounceInRight;
  }
  &.bounceInLeft {
    animation-name: bounceInLeft;
  }

  &.delay-1 {
    animation-delay: 1s;
  }
  &.delay-1-5 {
    animation-delay: 1.5s;
  }
  &.delay-2 {
    animation-delay: 2s;
  }
  &.delay-3 {
    animation-delay: 3s;
  }
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes backOutLeft {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  20% {
    transform: translateX(0) scale(0.7);
    opacity: 0.7;
  }

  90% {
    transform: translateX(-2000px) scale(0.7);
    opacity: 0.7;
  }

  100% {
    transform: scale(0);
    margin: 0 auto;
  }
}
@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes headShake {
  0% {
    transform: translateX(0);
  }

  6% {
    transform: translateX(-6px);
  }

  18% {
    transform: translateX(5px);
  }

  31% {
    transform: translateX(-3px);
  }

  43% {
    transform: translateX(2px);
  }

  50% {
    transform: translateX(0);
  }
}
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}
@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}
@keyframes jello {
  from,
  11.1%,
  to {
    transform: translate3d(0, 0, 0);
  }

  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}
@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    transform: translate3d(15rem, 0, 0) scaleX(3);
  }

  40% {
    opacity: 1;
    transform: translate3d(-3rem, 0, 0) scaleX(1);
  }

  65% {
    transform: translate3d(1.5rem, 0, 0) scaleX(0.98);
  }

  85% {
    transform: translate3d(-0.5rem, 0, 0) scaleX(0.995);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(-20rem, 0, 0) scaleX(3);
  }

  40% {
    opacity: 1;
    transform: translate3d(2rem, 0, 0) scaleX(1);
  }

  65% {
    transform: translate3d(-1rem, 0, 0) scaleX(0.98);
  }

  85% {
    transform: translate3d(0.2rem, 0, 0) scaleX(0.995);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bounceOutRight {
  20% {
    opacity: 1;
    transform: translate3d(-3rem, 0, 0) scaleX(0.9);
  }

  to {
    opacity: 0;
    transform: translate3d(100rem, 0, 0) scaleX(2);
  }
}
@keyframes backInRight {
  0% {
    transform: translateX(100rem) scale(0.7);
    opacity: 0.7;
  }

  70% {
    transform: translateX(0) scale(0.7);
    opacity: 0.7;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
