@import './normalize.scss';
@import './fonts.scss';
@import './vars.scss';
@import './helpers.scss';
@import './general.scss';
@import './cards.scss';
@import './screens.scss';
@import './animations.scss';
// -------------------------
// Components
// -------------------------
@import './DrawPrizes.scss';
@import './Stars.scss';
@import './Nav.scss';
@import './Form.scss';
@import './SocialLinks.scss';
@import './Game.scss';

// fix safari font bug
@import './safari-fix.scss';
