@import './mixins.scss';

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-size: $base-size;
  background: $blue;
  @include vpw_min($breakpoint) {
    font-size: $breakpoint / 100 * stripunit($base-size);
  }
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

body {
  min-height: 100vh;
  font-family: $body-font-family;
  font-size: $body-fontsize;
  font-weight: $body-fontweight;
  line-height: $body-lineheight;
}

.app {
  height: 100vh;
  background-size: 100%;
  overflow: hidden;
  &.pending {
    .screen,
    .nav,
    .rules {
      visibility: hidden;
    }
  }
}

.app,
.screen,
.game {
  min-height: $app-height;
  z-index: 2;
}
