@import './vars.scss';
@import './general.scss';

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .logo {
    width: 20rem;
  }
}
