.card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: $card-width;
  max-width: $card-max-width;
  min-height: 12rem;
  background: url(../images/card.svg) no-repeat center;
  background-size: 100% 100%;
  padding: 0.5rem 0.5rem 1rem;
  color: $white;

  &-image {
    position: absolute;
    left: -1rem;
    top: -1.75rem;
    width: 50%;
  }

  &-info {
    justify-content: space-around;
    font-size: 1.6rem;
    line-height: 2;
    text-align: center;

    &-card {
      background: url(../images/holder-lg.svg) no-repeat center;
      background-size: 100% 100%;
      padding: 0.8rem 1.3rem 1rem;
      line-height: 0.7;
    }
  }

  &-title {
    min-height: 2.6rem;
    font-size: 2rem;
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-top: -0.5rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    line-height: 1.7;
    > img {
      width: 2rem;
      margin-right: 0.6rem;
      margin-bottom: 0.7rem;
      align-self: flex-end;
    }
    &.hail {
      justify-content: flex-end;
      font-size: 2.3rem;
      margin-top: 0;
    }
  }

  &-title-right {
    padding-left: 50%;
  }

  .total-score {
    min-width: 4rem;
  }

  &.hail {
    position: absolute;
    bottom: -5rem;
    opacity: 0;
    transform: scale(0);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in,
      bottom 0.5s ease-in-out;

    &.open {
      bottom: 0;
      opacity: 1;
      transform: scale(0.9);
    }
  }
}
