.card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: $card-width;
  max-width: $card-max-width;
  min-height: $card-min-height;
  background: url(../images/card.svg) no-repeat center;
  background-size: 100% 100%;
  padding: 0.5rem 0.5rem 1rem;
  color: $white;

  &-image {
    position: absolute;
    left: -1rem;
    top: -1rem;
    width: 50%;
    &.friends {
      left: -1.3rem;
      top: -0.9rem;
      width: 55%;
    }
    &.hail {
      width: 43%;
      top: -1rem;
      left: -0.8rem;
    }
    &.error {
      width: 43%;
      top: -2rem;
      left: -0.5rem;
    }
  }

  &-info {
    justify-content: space-around;
    font-size: 1.3rem;
    line-height: 1.3;
    text-align: center;
    @extend .bold;

    &-card {
      background: url(../images/holder-lg.svg) no-repeat center;
      background-size: 100% 100%;
      padding: 0.8rem 1.3rem 1rem;
      line-height: 0.7;
    }

    &.error {
      padding-left: 1rem;
      padding-right: 1rem;
      font-size: 1.4rem;
    }
  }

  &-title {
    min-height: 2.6rem;
    font-size: 2rem;
    display: flex;
    align-items: baseline;
    justify-content: center;
    font-weight: 700;
    letter-spacing: 0.1rem;
    line-height: 1.7;
    &-right {
      padding-left: 53%;
    }
    &-error {
      padding-left: 50%;
    }
    > img {
      width: 2rem;
      margin-right: 0.6rem;
      margin-bottom: 0.7rem;
      align-self: flex-end;
    }
    &.hail {
      font-size: 2.3rem;
    }
  }

  .total-score {
    min-width: 4rem;
  }

  &.hail {
    position: absolute;
    bottom: -5rem;
    opacity: 0;
    transform: scale(0);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in,
      bottom 0.5s ease-in-out;

    &.open {
      bottom: 1rem;
      opacity: 1;
      transform: scale(1);
    }
  }
}
