.form {
  flex-direction: column;

  &-control {
    @extend .flex-center;
    margin-bottom: 0.5rem;
    .label {
      font-size: 1.1rem;
      line-height: 2;
      margin-right: 0.5rem;
      @extend .bold;
      @extend .nowrap;
    }
    &.flex-column {
      .label {
        margin-right: 0;
        margin-bottom: 0.25rem;
      }
    }
  }

  .checkbox,
  .birthdaypicker > select {
    color: $blue;
    @extend .bold;
    cursor: pointer;
    background-image: url(../images/holder.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    &.active {
      background-image: url(../images/holder-active.svg);
      animation-name: jello;
      transform-origin: center;
      animation-duration: 1s;
      animation-fill-mode: both;
    }
  }

  .checkbox {
    width: 2.5rem;
    height: 2rem;
    font-size: 1rem;
    margin: 0 0.4rem;
    > span {
      padding-bottom: 0.3rem;
      white-space: nowrap;
    }
    &.disabled {
      opacity: 0.7;
    }
  }

  .birthdaypicker > select {
    width: auto;
    min-height: 2.4rem;
    font-size: 1rem;
    line-height: 2;
    padding-bottom: 0.2em;
    max-width: 100%;
    margin: 0.2rem 0.4rem;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;

    /* Align text in select boxes */
    &.select-day {
      width: 3.5rem;
      padding-left: 0.7rem;
    }
    &.select-month {
      width: 5rem;
      padding-left: 1.1rem;
    }
    &.select-year {
      width: 4rem;
      padding-left: 1.3rem;
    }

    &.active {
      &.select-day {
        padding-left: 1rem;
      }
      &.select-month {
        padding-left: 0.5rem;
      }
      &.select-year {
        padding-left: 0.8rem;
      }
    }

    /* Set options to normal weight */
    > option {
      font-weight: normal;
    }

    /* States styles */
    &:hover,
    &:focus,
    &:active {
      border-color: none;
      outline: none;
    }
    /* Hide arrow icon in IE browsers */
    &::-ms-expand {
      display: none;
    }
  }

  &-submit {
    text-align: center;
    @extend .bold;

    min-width: 8rem;
    height: 3.5rem;
    position: relative;
    background: url(../images/holder.svg) no-repeat center;
    background-size: 100% 100%;
    transition: all 0.5s ease;

    .active {
      background: url(../images/btn-bg-active.svg) no-repeat center;
      cursor: pointer;
    }

    .active,
    .disabled {
      width: 100%;
      height: 100%;
      background-size: 100% 100%;
      line-height: 2.2;
    }

    .large {
      font-size: 1.7rem;
      line-height: 1.7;
    }

    .message {
      font-size: 60%;
      line-height: 1.5;
      padding: 0.4rem 0 0 1rem;
      &:before {
        content: '';
        position: absolute;
        top: 0.7rem;
        left: -0.7rem;
        width: 1.7rem;
        height: 1.6rem;
        background: url(../images/btn-arrow.svg) no-repeat center;
        background-size: 100% 100%;
      }
    }

    &.error {
      display: inline-block;
      text-decoration: none;
      .btn {
        display: inline-block;
        padding: 0 1.5rem;
      }
    }
  }
}
