.form {
  flex-direction: column;

  &-control {
    @extend .flex-center;
    margin-top: 1rem;
  }

  .label {
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
    @extend .bold;
    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  }

  .checkbox {
    width: 2.2rem;
    height: 1.8rem;
    color: $blue;
    font-size: 0.55rem;
    margin: 0 0.25rem;
    cursor: pointer;
    background: url(../images/holder.svg) no-repeat center;
    background-size: 100% 100%;
    @extend .bold;
    &.active {
      background: url(../images/holder-active.svg) no-repeat center;
    }
    > span {
      height: 0.7rem;
      white-space: nowrap;
    }
  }

  &-submit {
    text-align: center;
    @extend .bold;

    width: 8rem;
    height: 3.5rem;
    position: relative;
    background: url(../images/holder.svg) no-repeat center;
    background-size: 100% 100%;
    transition: all 0.5s ease;

    .active {
      background: url(../images/btn-bg-active.svg) no-repeat center;
      cursor: pointer;
    }

    .active,
    .disabled {
      height: 100%;
      background-size: 100% 100%;
      line-height: 2.2;
    }

    .large {
      font-size: 1.7rem;
      line-height: 1.7;
    }

    .message {
      font-size: 60%;
      line-height: 1.5;
      padding: 0.4rem 0 0 1rem;
      &:before {
        content: '';
        position: absolute;
        top: 0.7rem;
        left: -0.7rem;
        width: 1.7rem;
        height: 1.6rem;
        background: url(../images/btn-arrow.svg) no-repeat center;
        background-size: 100% 100%;
      }
    }
  }
}
