@import './vars.scss';
.game {
  position: relative;
  width: $card-width;
  max-width: $card-max-width;
  min-height: 9rem;
  padding: 0.5rem 0.5rem 1rem;
  outline: 2px dashed green;
  background: $blue;

  &-start-btn {
    display: block;
    width: 6rem;
    height: 3rem;
    border: none;
    outline: none;
    background: url(../images/start-active.svg);
    margin: 1rem auto;
    cursor: pointer;
    &:disabled {
      background: url(../images/start.svg);
      cursor: not-allowed;
    }
  }

  &-body {
    display: flex;
    flex-wrap: wrap;
    .score {
      flex: 1 20%;
      height: 3.3rem;
      position: relative;
      margin: 0 1.5% 2%;
      background: url(../images/score-holder-active.svg) no-repeat center;
      background-size: 100% 2.5rem;
      font-size: 1rem;
      color: $white;
      text-align: center;
      font-weight: 700;
      letter-spacing: 0.05rem;

      &-value {
        height: 1rem;
        margin-bottom: 0;
        &.oops {
          font-size: 0.8rem;
        }
      }

      .coin {
        width: 1rem;
        height: 1rem;
        margin-top: -0.8rem;
        margin-bottom: 0.2rem;
        background: url(../images/coin-active.svg);
        transition: margin-top 0.15s ease-in-out;
      }

      .seal {
        position: absolute;
        width: 100%;
        height: 2.5rem;
        background: url(../images/lock.svg);
        top: 0.4rem;
        transform: scale(1.2);
        opacity: 0;
        transition: all 0.15s ease-in;
      }

      &.sealed {
        .seal {
          transform: scale(1);
          opacity: 1;
          cursor: pointer;
        }
        .coin {
          margin-top: 0;
        }
      }

      &.disabled {
        background: url(../images/score-holder.svg) no-repeat center;
        background-size: 100% 2.5rem;
        .coin {
          background: url(../images/coin.svg);
        }
      }
    }
  }
}
