@import './vars.scss';

.game {
  width: 90vw;
  height: 90vh;
  max-width: 20rem;

  &-header {
    height: 40%;
    max-height: 12rem;
    position: relative;

    &-container {
      height: 4rem;
      position: relative;

      .btn {
        width: 8rem;
        height: 100%;
        background: url(../images/btn-botder.svg),
          url(../images/btn-bg-active.svg);
        background-repeat: no-repeat;
        background-position: center center;
        transition: background 0.3s ease-in-out;
        cursor: pointer;
        &:before {
          content: '';
          display: block;
          width: 40%;
          height: 40%;
          margin: 1rem auto;
          background: url(../images/btn-text.svg) no-repeat center;
          opacity: 1;
          transition: opacity 0.3s ease;
        }

        &.disabled {
          position: absolute;
          background: url(../images/btn-botder.svg),
            url(../images/btn-bg-disabled.svg);
          background-repeat: no-repeat;
          background-position: center center;
          cursor: not-allowed;
          &:before {
            opacity: 0.3;
          }
        }

        &.picks-counter {
          font-size: 2rem;
          cursor: default;
          .count {
            align-self: flex-start;
            margin-top: 0.7rem;
            margin-right: 0.5rem;
          }
          .text {
            font-size: 1rem;
          }
          &:before {
            display: none;
          }
        }
      }
    }
  }

  &-body {
    height: 60%;
    max-height: 18rem;

    .score {
      flex: 1 20%;
      height: 3.3rem;
      position: relative;
      margin: 0 2% 3%;
      background: url(../images/score-holder-active.svg) no-repeat center;
      background-size: 100% 3rem;
      color: $white;
      font-weight: 700;
      letter-spacing: 0.05rem;

      .oops {
        height: 1.5rem;
        font-size: 1rem;
      }

      .coin {
        width: 1.2rem;
        height: 1.2rem;
        margin-top: -0.8rem;
        margin-bottom: 0.3rem;
        background: url(../images/coin-active.svg) no-repeat center;
        transition: margin-top 0.15s ease-in-out;
      }

      .seal {
        position: absolute;
        width: 100%;
        height: 100%;
        background: url(../images/lock.svg) no-repeat center;
        top: 0;
        transform: scale(1.2);
        opacity: 0;
        transition: all 0.15s ease-in;
      }

      &.sealed {
        .seal {
          transform: scale(1);
          opacity: 1;
          cursor: pointer;
        }
        .coin {
          margin-top: 0;
        }
      }

      &.disabled {
        background: url(../images/score-holder.svg) no-repeat center;
        background-size: 100% 3rem;
        .coin {
          background: url(../images/coin.svg) no-repeat center;
        }
      }
    }
  }
}

.game-reset-btn {
  position: absolute;
  top: 10.5rem;
  width: 6rem;
  height: 3rem;
  font-size: 4rem;
  cursor: pointer;
  z-index: 10;
  &:before {
    content: 'RE';
    position: absolute;
    font-size: 1.2rem;
    font-weight: 700;
    left: 0.3rem;
    top: 0.7rem;
    transform: rotate(-7deg);
  }
  .btn {
    width: 100%;
    height: 100%;
  }
}
