@import './vars.scss';
@import './mixins.scss';

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-size: $base-size;
  @include vpw_min($breakpoint) {
    font-size: $breakpoint / 100 * stripunit($base-size);
  }
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  font-family: $body-font-family;
  font-size: $body-fontsize;
  font-weight: $body-fontweight;
  line-height: $body-lineheight;
}

.app {
  height: 100vh;
  background: url(../images/space-bg.jpg) repeat-y center, $blue;
  background-size: 100%;
}
