@import './vars.scss';
@import './mixins.scss';

html {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-size: $base-size; // only used for rem-handling, the actual font-size is $body-fontsize
  @include vpw_min($scaling-endpoint) {
    font-size: $scaling-endpoint / 100 * stripunit($base-size);
  }
  @include mobile {
    font-size: $base-size-mobile;
  }

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  font-family: $body-font-family;
  font-size: $body-fontsize;
  font-weight: $body-fontweight;
  line-height: $body-lineheight;
  @include mobile {
    font-size: $body-fontsize-mobile;
  }
}
