@import './vars.scss';

.blue {
  color: $blue;
}
.yellow {
  color: $yellow;
}
.orange {
  color: $orange;
}
.red {
  color: $red;
}
.white {
  color: $white;
}
.black {
  color: $black;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.bold {
  font-weight: 700;
}
.thin {
  font-weight: 300;
}
.small {
  font-size: 0.7rem;
}
.svg-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.d-flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-1 {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.15rem;
}
.title-2 {
  font-size: 1.8rem;
  font-weight: 700;
}
.title-3 {
  font-size: 1.6rem;
  font-weight: 700;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-05 {
  margin-top: 0.5rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-05 {
  margin-bottom: 0.5rem;
}
.hidden {
  visibility: hidden;
}
