@import './vars.scss';

.blue {
  color: $blue;
}
.light-blue {
  color: $light-blue;
}
.yellow {
  color: $yellow;
}
.orange {
  color: $orange;
}
.red {
  color: $red;
}
.white {
  color: $white;
}
.black {
  color: $black;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.bold {
  font-weight: 700;
}
.thin {
  font-weight: 300;
}
.small {
  font-size: 0.7rem;
}
.svg-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.d-flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.align-end {
  align-items: flex-end;
}
.w-100 {
  width: 100% !important;
}
.title-1 {
  font-size: 1.9rem;
  font-weight: 700;
  letter-spacing: 0.15rem;
}
.title-2 {
  font-size: 1.8rem;
  font-weight: 700;
}
.title-3 {
  font-size: 1.6rem;
  font-weight: 700;
}
.title-4 {
  font-size: 1.15rem;
  font-weight: 700;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-05 {
  margin-top: 0.5rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-05 {
  margin-bottom: 0.5rem;
}
.pt-1 {
  padding-top: 1rem;
}
.pt-2 {
  padding-top: 2rem;
}
.pb-1 {
  padding-bottom: 1rem;
}
.pb-2 {
  padding-bottom: 2rem;
}
.hidden {
  visibility: hidden;
}
.d-none {
  display: none;
}
.text-shadow {
  text-shadow: 0.05rem 0.05rem 0.1rem $black;
}

.text-gradient {
  display: inline;
  background: -webkit-linear-gradient($orange, $yellow);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
