@import './vars.scss';

@mixin vpw_min($min) {
  @media (min-width: #{$min}) {
    @content;
  }
}

@mixin text-gradient {
  background: -webkit-linear-gradient($orange, $yellow);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* STRIP UNIT
/––––––––––––––––––––––––*/
// removes a unit from a variable
@function stripunit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }
  @return $number;
}
