.rules-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  min-height: $app-height;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $blue;
  overflow-x: hidden;
  z-index: 10;

  .rules-text {
    position: relative;
    max-width: $card-max-width;
    height: 100%;
    overflow: scroll;
    font-size: 1rem;
    line-height: 1.3;
    h1,
    h2 {
      text-align: center;
      line-height: 1.6;
    }
    h1 {
      font-size: 1.8rem;
    }
    h2 {
      font-size: 1.3rem;
    }
  }
  .rules-blackout {
    height: 6rem;
    margin-top: -4rem;
    width: 100%;
    background: linear-gradient(rgba(6, 36, 89, 0), $blue);
    z-index: 11;
  }

  .rules-controls-wrapper {
    background-color: $blue;
    padding: 0.5rem 0 5rem;
    .rules-controls {
      max-width: 23rem;
      margin: 0 auto;
      .form-submit {
        margin: 0 auto;
        &.close {
          min-width: auto;
          .btn {
            padding: 0.8rem;
          }
        }
        .btn {
          padding: 0 1.5rem;
        }
      }
    }
  }
}
