.rules-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $blue;
  overflow-x: hidden;
  padding-bottom: 4rem;

  .rules-text {
    position: relative;
    max-width: $card-max-width;
    margin-bottom: 5rem;
    overflow: scroll;
    font-size: 1rem;
    line-height: 1.3;
    h1,
    h2 {
      text-align: center;
      line-height: 1.6;
    }
    h1 {
      font-size: 1.8rem;
    }
    h2 {
      font-size: 1.3rem;
    }
    &:after {
      content: '';
      width: 100%;
      position: fixed;
      left: 0;
      bottom: 8rem;
      height: 5rem;
      background: linear-gradient(rgba(6, 36, 89, 0), $blue);
    }
  }

  .rules-controls-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8rem;
    .rules-controls {
      max-width: 23rem;
      margin: 0 auto;
      .form-submit {
        margin: 0 auto;
        &.close {
          min-width: auto;
          .btn {
            padding: 0.8rem;
          }
        }
        .btn {
          padding: 0 1.5rem;
        }
      }
    }
  }
}
