.stars {
  width: 100%;
  position: relative;
  bottom: -1.5rem;

  .star {
    position: relative;
    width: 1.6rem;
    height: 1.6rem;
    background: url(../images/star.svg) no-repeat center;
    background-size: 100% 100%;
    &:nth-of-type(2) {
      width: 2rem;
      height: 2rem;
      margin-top: -0.5rem;
    }
    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: -0.1rem;
      left: 0;
      background: url(../images/star-active.svg) no-repeat center;
      transform: scale(0);
      transition: transform 0.3s ease-in-out;
    }

    &.active {
      &:before {
        transform: scale(1);
      }
    }
  }
}
