@import './vars.scss';
@import './mixins.scss';

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../images/design.jpg) no-repeat center -1110px, $blue;
  background-size: cover;
}

.card {
  position: relative;
  width: $card-width;
  max-width: $card-max-width;
  min-height: 9rem;
  background-image: url(../images/card.svg);
  padding: 0.5rem 0.5rem 1rem;
  color: $white;
  outline: 2px dashed $white;

  &-image {
    position: absolute;
    left: -1.5rem;
    top: -1.75rem;
    width: 55%;
  }

  &-info {
    justify-content: space-around;
    line-height: 1.3;
    &-card {
      background: url(../images/holder-lg.svg) no-repeat center;
      background-size: cover;
      padding: 0.6rem 1rem;
      line-height: 0.6;
    }
  }

  &-title {
    height: 2.6rem;
    font-size: 1.8rem;
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-top: 0.5rem;
    color: $orange;
    font-weight: 700;
    letter-spacing: 0.1rem;
    @include text-gradient;
    > img {
      width: 2rem;
      margin-right: 0.6rem;
      margin-bottom: 0.5rem;
      align-self: flex-end;
    }
  }

  &-title-right {
    padding-left: 50%;
  }

  .stars {
    width: 100%;
    position: relative;
    bottom: -1.5rem;
    outline: 2px dashed $orange;
    .star {
      width: 1.5rem;
      &:nth-of-type(2) {
        width: 2rem;
        margin-top: -0.5rem;
      }
    }
    &-active {
      position: absolute;
      width: 100%;
      top: -0.1rem;
      .star {
        opacity: 0;
        &.visible {
          opacity: 1;
        }
      }
    }
  }
}

.nav {
  width: $card-width;
  max-width: $card-max-width;
  outline: 2px dashed $yellow;
  &-link {
    width: 3.1rem;
    height: 2.4rem;
    background-image: url(../images/arrow.svg);
    margin: 0 2rem;
    cursor: pointer;

    &.back {
      transform: rotate(-180deg);
      margin-top: -0.2rem;
    }
  }
}

.form {
  flex-direction: column;
  &-control {
    @extend .flex-center;
    margin-top: 0.75rem;
  }
  .label {
    @include text-gradient;
    font-size: 1rem;
    font-weight: 700;
    padding-bottom: 0.3rem;
    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  }
  .checkbox {
    width: 1.8rem;
    height: 1.4rem;
    color: $blue;
    font-size: 0.5rem;
    font-weight: 700;
    margin: 0 0.11rem;
    cursor: pointer;
    background-image: url(../images/holder.svg);
    &.active {
      background-image: url(../images/holder-active.svg);
    }
    > span {
      height: 0.7rem;
    }
  }
}

.social-links {
  .link {
    width: 1.8rem;
    height: 1.6rem;
    margin: 0 0.3rem;

    &.viber {
      background-image: url(../images/viber.svg),
        url(../images/viber-active.svg);
      &.active {
        background-image: url(../images/viber-active.svg);
      }
    }
    &.messenger {
      background-image: url(../images/messenger.svg),
        url(../images/messenger-active.svg);
      &.active {
        background-image: url(../images/messenger-active.svg);
      }
    }
    &.telegram {
      background-image: url(../images/telegram.svg),
        url(../images/telegram-active.svg);
      &.active {
        background-image: url(../images/telegram-active.svg);
      }
    }
  }
}

.form-submit {
  text-align: center;
  font-weight: 700;
  &.invite {
    width: 7rem;
    height: 3rem;
    font-size: 0.8rem;
    color: $blue;
    background-image: url(../images/holder.svg);
    padding: 0.5rem 0.25rem 1rem;
    transition: all 0.5s ease;

    .done,
    .active {
      @extend .flex-center;
      height: 3rem;
      margin-top: -0.6rem;
    }
  }
}
