@import './vars.scss';
@import './mixins.scss';

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $blue;
}

.card {
  position: relative;
  width: $card-width;
  max-width: $card-max-width;
  min-height: 9rem;
  background-image: url(../images/card.svg);
  padding: 0.5rem 0.5rem 1rem;
  color: $white;

  &-image {
    position: absolute;
    left: -1.5rem;
    top: -1.75rem;
    width: 55%;
  }

  &-info {
    justify-content: space-around;
    line-height: 1.3;
    &-card {
      background: url(../images/holder-lg.svg) no-repeat center;
      background-size: cover;
      padding: 0.6rem 1rem;
      line-height: 0.6;
    }
  }

  &-title {
    height: 2.6rem;
    font-size: 1.8rem;
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-top: 0.5rem;
    color: $orange;
    font-weight: 700;
    letter-spacing: 0.1rem;
    @include text-gradient;
    > img {
      width: 2rem;
      margin-right: 0.6rem;
      margin-bottom: 0.5rem;
      align-self: flex-end;
    }
    &.hail {
      justify-content: flex-end;
      font-size: 2rem;
      margin-top: 0;
      margin-bottom: 1.5rem;
    }
  }

  &-title-right {
    padding-left: 50%;
  }

  .total-score {
    font-size: 2rem;
    padding: 0.5rem 0 0.8rem;
    min-width: 3rem;
  }

  &.hail {
    position: absolute;
    bottom: -5rem;
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s ease-in-out;
    &.open {
      bottom: 3rem;
      opacity: 1;
      transform: scale(1);
    }
  }
}

.stars {
  width: 100%;
  position: relative;
  bottom: -1.5rem;

  .star {
    width: 1.5rem;
    &:nth-of-type(2) {
      width: 2rem;
      margin-top: -0.5rem;
    }
  }

  &-active {
    position: absolute;
    width: 100%;
    top: -0.1rem;
    .star {
      opacity: 0;
      &.visible {
        opacity: 1;
      }
    }
  }
}

.nav {
  width: $card-width;
  max-width: $card-max-width;

  &-link .link {
    width: 6rem;
    height: 4rem;
    background-image: url(../images/arrow.svg);
    cursor: pointer;

    &.back {
      transform: rotate(-180deg);
      margin-top: -0.2rem;
    }
  }
}

.form {
  flex-direction: column;

  &-control {
    @extend .flex-center;
    margin-top: 0.75rem;
  }

  .label {
    @include text-gradient;
    font-size: 1rem;
    font-weight: 700;
    padding-bottom: 0.3rem;
    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  }

  .checkbox {
    width: 1.8rem;
    height: 1.4rem;
    color: $blue;
    font-size: 0.5rem;
    font-weight: 700;
    margin: 0 0.11rem;
    cursor: pointer;
    background-image: url(../images/holder.svg);
    &.active {
      background-image: url(../images/holder-active.svg);
    }
    > span {
      height: 0.7rem;
    }
  }

  &-submit {
    text-align: center;
    font-weight: 700;
    &.invite {
      width: 7rem;
      height: 3rem;
      position: relative;
      color: $blue;
      background-image: url(../images/holder.svg);
      transition: all 0.5s ease;

      .message {
        font-size: 0.8rem;
        padding: 0.3rem 0 0 1rem;
        line-height: 1.4;
        &:before {
          content: '';
          position: absolute;
          top: 0.7rem;
          left: -0.5rem;
          width: 1.7rem;
          height: 1.6rem;
          background-image: url(../images/btn-arrow.svg);
        }
      }

      .done,
      .active {
        height: 100%;
        background-image: url(../images/btn-bg-active.svg);
        cursor: pointer;
      }

      .done {
        font-size: 1.4rem;
        line-height: 1.7;
      }

      .active {
        font-size: 1.2rem;
        line-height: 2.2;
      }
    }
  }
}

.social-links {
  .link {
    width: 2rem;
    height: 1.8rem;
    margin: 0 0.3rem;
    position: relative;
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 0.1s ease-in-out;
    }

    &.active {
      &:before {
        opacity: 1;
      }
    }

    &.viber {
      background-image: url(../images/viber.svg);
      &:before {
        background-image: url(../images/viber-active.svg);
      }
    }
    &.messenger {
      background-image: url(../images/messenger.svg);
      &:before {
        background-image: url(../images/messenger-active.svg);
      }
    }
    &.telegram {
      background-image: url(../images/telegram.svg);
      &:before {
        background-image: url(../images/telegram-active.svg);
      }
    }
  }
}
