@import './fonts.scss';
/*==================================================================================
  PALETTE
==================================================================================*/
$blue: #062459;
$light-blue: #2c3094;
$yellow: #ffcc00;
$orange: #ff9700;
$red: #e91926;
$white: #fff;
$black: #000;
/*==================================================================================
  SCALING
==================================================================================*/
$base-size: 4.4vw;
$breakpoint: 500px;
/*==================================================================================
  DEFAULTS
==================================================================================*/
$body-fontsize: 1.3rem;
$body-fontweight: 300;
$body-font-family: 'Noteworthy Light';
$body-lineheight: 1.1;

$card-width: 90vw;
$card-max-width: 20rem;
