/*==================================================================================
  PALETTE
==================================================================================*/
$blue: #062459;
$yellow: #ffcc00;
$orange: #ff9700;
$white: #fff;
$black: #000;
/*==================================================================================
  SCALING
==================================================================================*/
$base-size: 2vw; // scales all `rem` based objects by adding this value as html font-size
$breakpoint: 800px; // breakpoint between @desktop and @mobile mixins
$scaling-endpoint: 1200px; // scaling of all `rem` based objects stops here (100px = no scaling)
$base-size-mobile: $base-size * 2.2; // scaling multiplicator for mobile viewport
/*==================================================================================
  DEFAULTS
==================================================================================*/
/* BODY
/––––––––––––––––––––––––*/
$body-fontsize: 1rem;
$body-fontsize-mobile: 1.3rem;
$body-fontweight: 400;
$body-font-family: 'Arial', sans-serif;
$body-lineheight: 1.3;
/*==================================================================================
  TRANSITIONS
==================================================================================*/
$transition-fast: 0.3s;
$transition-slow: 0.7s;
/*==================================================================================
  SHADOWS
==================================================================================*/
$shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
$shadow-soft: 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 1px 5px 0 rgba(0, 0, 0, 0.06);
/*==================================================================================
  GRADIENTS
==================================================================================*/
